#all {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
}

#left {
    display: flex;
    flex-direction: column;
    width: 40%;
}


#right {
    display: flex;
    flex-direction: column;
    width: 40%;

}


#left div,#right div {
    border: 2px solid black;
    border-radius: 20px 20px 20px 20px;
    height: 10%;
    background-color: lightgray;
    text-align: center;
    margin: 2px;
}



h1{
    text-align: center;
}

body{
    height: 100vh;
}
